/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist/bundle.js
/scripts/.venv
/src/PutThePastBehindUs/*.purs
/src/Plumbing/Gopher.purs
ide-purescript-*.vsix
language-purescript-*.vsix
.purs-repl
/readme/
readme.dhall
/storybook/*.purs
/.vscode/settings.json